@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap');
body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  text-align: center;
}
h1{
  color: #2286a1;
  font-family: 'Pacifico', cursive;
  font-weight: 200;
}
.input-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 410px;
  height: 40px;
  outline: none;
  font-size: 20px;
}
button{
  background-color: #2286a1;
  font-size: 23px;
  width: 70px;
  height: 45px;
  margin-top: 6px 6px!important;
  border: none;
  color: white;
  font-family:cursive;
  
}
ul{
font-family: cursive;
margin-top: 10px;
width: 96%;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
}
ul li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 10px;
  width: 473px;
  color: white;
  text-transform: capitalize;
 
}
.delete{
  margin-left: 50px;
}